amqp==5.0.2
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
fastapi
h11==0.12.0
idna==2.10
importlib-metadata==3.4.0
joblib==1.0.0
kombu==5.0.2
librabbitmq==2.0.0
lightgbm
numpy
pandas
prompt-toolkit==3.0.10
pydantic==1.7.3
python-dateutil==2.8.1
pytz==2020.5
redis==3.5.3
requests==2.25.1
scikit-learn
scipy
six==1.15.0
sklearn
starlette==0.13.6
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
urllib3==1.26.3
uvicorn==0.13.3
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
